@font-face {
    font-family: Gibson-Regular;
    src: url(../fonts/gibson-font/Gibson-Regular.ttf);
}

body {
    background-image: url('../images/Weblayout.png');
    background-size: 100%;
    font-family: Gibson-Regular;
    color: #02158B;
}

.logo-image {
    width: 100px;
    height: auto;
}

.nav-container {
    align-items: center;
}

.custom-nav-item {
    color: white;
    font-size: 1.4em;
    letter-spacing: 1.5px;
}

#title-name {
    font-size: 6em;
}

#landing {
    color: #02158B;
    padding-top: 10%;
}

#grouped-slogan {
    width: 500px;
    height: auto;
}

.flower {
    width: 700px;
    height: auto;
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

.flip-horizontally {
    transform: scaleX(-1);
}

.begin-button {
    margin-left: 150px;
}

.blue-buttons {
    border-radius: 50px;
    color:white;
    background-color: #02158B;
    font-size: 1.5em;
    width: 150px;
    height: 50px;
    animation: shadow-pulse 1s infinite;
}

.blue-waves {
    width: 100%;
    margin-top: 200px;
}

.content {
    text-align: center;
    position: relative;
  }

.centered {
    position: absolute;
    width: 450px;
    height: auto;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#statistics {
    width: 65%;
    margin: 0 auto;
}

.statistic-1 {
    position: absolute;
    top: 50%;
}

.statistic-2 {
    position: absolute;
    top: 50%;
    left: 44%;
}

.statistic-3 {
    position: absolute;
    top: 50%;
    right: 18%;
}

.tree-1 {
    width: 250px;
    height: auto;
    position: absolute;
    left: 0;
    top: 35%;
}

.white-birds {
    width: 300px;
    height: auto;
    position: absolute;
    left: 25%;
    top: 40%;
}

.counter {
    display: table-cell;
    margin: 0 auto;
    font-size: 40px;
    background-color: #F1D137;
    width: 150px;
    border-radius: 50%;
    height: 150px;
    vertical-align: middle;
    color: #02158B;
    padding-top: 45px;
}

.statistics-subs {
    position: absolute;
    top: 170%;
    margin: 0 auto;
    left: 10%;
}

.caption-stats {
    color: white;
}

.center-text {
    text-align: center;
}

.caption {
    font-size: 1.5em;
}

.encyclopedia-header {
    margin-top: 50px;
}

.encyclopedia-header h2 {
    font-size: 3em;
}

.encyclopedia-header p {
    font-size: 1.8em;
}

#hummingbird {
    margin-top: 30px;
    width: 90%;
}

.learn-button-1 {
    position: absolute;
    right: 30%;
    top: 276%;
}

#feeding {
    width: 90%;
    margin-top: 80px;
}

.learn-button-2 {
    position: absolute;
    left: 19%;
    top: 335%;
}

.blue-waves-2 {
    width: 100%;
}

#discovered {
    width: 300px;
    height: auto;
}

#discovered {
    position: absolute;
    width: 450px;
    height: auto;
    top: 390%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tree-2 {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 375%;
}

#yellow-button {
    position: absolute;
    top: 415%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pt-num {
    position: absolute;
    top: 411%;
    left: 49%;
    font-size: 2.2em;
}

#trio {
    position: absolute;
    width: 60%;
    top: 430%;
    left: 20%;
}

#phone {
    position: absolute;
    width: 220px;
    height: auto;
    top: 480%;
    left: 30%;
}

#app-store {
    position: absolute;
    width: 300px;
    height: auto;
    top: 490%;
    right: 30%;
}

#footer-logo {
    position: absolute;
    width: 100px;
    height: auto;
    top: 543%;
    left: 47%;
}

#footer-txt {
    color: white;
    position: absolute;
    font-size: 1.2em;
    top: 550%;
    left: 48.3%;
}

@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(2, 21, 139, 0.2);
     }
     100% {
          box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
     }
}